<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name=".CandidateUpgradeStateProbeProvider"
            android:authorities="${applicationId}.candidate-upgrade-probe"
            android:exported="true" />
    </application>
</manifest>
